/* ---------------------------------------------------------------------------- */
/* --------------------------------- HEADER ----------------------------------- */
/* ---------------------------------------------------------------------------- */


/* --------------------------------- left side -------------------------------- */

.main {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: inherit;
	background-color: rgba(200, 200, 200, 0.2);
	flex-grow: 1;
}